* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f0f0f0;
}
.section2 {
  position: relative;
  height: 80vh;
  clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0 90%);
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.section2_outerDiv {
  position: absolute;
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 1s, opacity 1s;
}
.myPhoto {
  height: 80%;
  width: 30%;
  background-color: rgb(209, 19, 51);
  background-image: url("../image/kritikasharma.png");
  background-size: cover;
}
.aboutMe {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  align-items: flex-start;
}
.aboutMe_heading {
  font-size: 3.5rem;
  font-weight: 800;
  color: black;
  letter-spacing: 5px;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
}
.aboutMe_intro {
  height: auto;
  width: 100%;
  font-size: 1rem;
  color: rgba(34, 34, 34);
  font-size: 1.1rem;
  font-weight: 500;
  /* border: 1px solid black; */
}
.abouMe_content {
  height: 60%;
  width: 100%;
  list-style: none;
  margin-top: 2rem;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.abouMe_content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.DownloadCV_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn {
  height: 70%;
  width: 30%;
  background-color: white;
  border: 2px solid #ed372d;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ed372d;
  overflow: hidden;
  -moz-transition: all 0.6s ease-out 0s;
  -ms-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  -webkit-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
  position: relative;
  z-index: 0;
}
.btn:after,
.btn:before {
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.effect4:after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #ed372d;
}
.effect4:hover {
  color: white;
}
.effect4:hover:after {
  width: 100%;
}

.part1 {
  width: 30%;
  color: #ed372d;
}
.part2 {
  width: 70%;
  color: rgba(34, 34, 34);
}

.DownloadCV_btn {
  height: 15%;
  width: 100%;
  /* border: 1px solid black; */
}
.section2-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

@media only screen and (max-width: 1026px) {
  .section2_outerDiv {
    width: 85%;
  }
}
@media only screen and (max-width: 960px) {
  .section2_outerDiv {
    width: 95%;
    height: 70%;
  }
  .btn {
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 780px) {
  .myPhoto {
    display: none;
  }
  .aboutMe {
    width: 70%;
  }
  .section2_outerDiv {
    width: 98%;
  }
}

@media only screen and (max-width: 555px) {
  .aboutMe_heading {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .aboutMe_heading {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
  .abouMe_content ul {
    font-size: 1rem;
  }
  .aboutMe_intro {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 420px) {
  .section2 {
    margin: 0%;
  }
  .aboutMe_heading {
    font-size: 2rem;
  }
  .btn {
    margin-left: -2rem;
  }
}
@media only screen and (max-width: 485px) {
  .aboutMe {
    width: 80%;
    margin-left: -2rem;
  }
  .aboutMe_heading {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .abouMe_content ul {
    font-size: 1rem;
  }
  .btn {
    width: 35%;
    margin-left: -2rem;
    font-size: 0.7rem;
    font-weight: 800;
  }
}
@media only screen and (max-width: 400px) {
  .section2 {
    margin: 0%;
  }
  .section2_outerDiv {
    height: 60%;
    width: 100%;
  }
  .part1 {
    margin-left: -0.5rem;
  }
  .part2 {
    margin-left: -0.5rem;
  }
  .abouMe_content ul {
    font-size: 0.8rem;
  }
  .aboutMe_intro {
    font-size: 0.8rem;
  }
  .aboutMe_heading {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 330px) {
  .btn {
    height: 2rem;
    width: 6rem;
  }
}
